* {
-fx-background-color: #222222;
-fx-text-fill: white;
}

Button {
-fx-border-color: #444444;
}
Button:hover {
-fx-background-color: #444444;
}

.list-cell {
-fx-border-color: #444444;
}
.list-cell:hover {
-fx-background-color: #444444;
}
.list-cell:selected {
-fx-background-color: #4a4aff;
}

.text-area {
-fx-background-color: #444444;
-fx-text-fill: white;
}

.tree-cell:hover,
.tree-cell:hover .tree-disclosure-node {
-fx-background-color: #444444;
}
.tree-cell:selected,
.tree-cell:selected .tree-disclosure-node {
-fx-background-color: #4a4aff;
}
.tree-cell .arrow {
-fx-background-color: white;
}

.tab-pane .tab-header-area .tab .headers-region {
-fx-border-color: #444444;
-fx-text-fill: white;
}
.tab-pane:hover .tab-header-area .tab .headers-region {
-fx-background-color: #444444;
}
.keyword {
-fx-fill: orange;
-fx-font-weight: bold;
}
.semicolon {
-fx-font-weight: bold;
}
.paren {
-fx-fill: firebrick;
-fx-font-weight: bold;
}
.bracket {
-fx-fill: lightgreen;
-fx-font-weight: bold;
}
.brace {
-fx-fill: teal;
-fx-font-weight: bold;
}
.string {
-fx-fill: lightblue;
}

.comment {
-fx-fill: grey;
}

.paragraph-box:has-caret {
-fx-background-color: #333333;
}

.default {
-fx-fill: white;
}